doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title #{name} &mdash; #{tagline}
		link(rel="stylesheet" href=(environment == "production" ? "/v2/main.css" : "/main.css"))
	body
		.container
			.row
				.col-xs-12
					!= partial("_partials/header")
					!= yield
