footer
	.container
		hr
		p.text-muted.small &copy; #{new Date().getFullYear()} #{name}.<br class="visible-xs-block"> View the source on 
			a(href="#{githubURL}" target="_blank" rel="noreferrer noopener") GitHub.
